@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.App {
  font-family: "Open Sans";
  color: #000000;
  color: rgb(0, 0, 0);
  text-align: center;
}

h6 {
  color: #000000;
  font-size: 20px;
  font-weight: 10px;
}

.card {
  border-radius: 10% !important;
  background-color: #d3d3d3 !important;
  text-align: center !important;
}

.card p {
  text-align: center;
}
